
.icon-reserve_widget_icon_01:before { content: '\e800'; } /* '' */
.icon-reserve_widget_icon_02:before { content: '\e801'; } /* '' */
.icon-reserve_widget_icon_03:before { content: '\e802'; } /* '' */
.icon-reserve_widget_icon_04:before { content: '\e803'; } /* '' */
.icon-reserve_widget_icon_05:before { content: '\e804'; } /* '' */
.icon-reserve_widget_icon_08:before { content: '\e805'; } /* '' */
.icon-reserve_widget_icon_06:before { content: '\e806'; } /* '' */
.icon-reserve_widget_icon_07:before { content: '\e807'; } /* '' */
.icon-reserve_widget_icon_09:before { content: '\e808'; } /* '' */
.icon-reserve_widget_icon_10:before { content: '\e809'; } /* '' */
.icon-reserve_widget_icon_11:before { content: '\e80a'; } /* '' */
.icon-reserve_widget_icon_12:before { content: '\e80b'; } /* '' */
.icon-reserve_widget_icon_13:before { content: '\e80c'; } /* '' */